absl-py==2.3.1
altair==5.5.0
altex==0.2.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.8.0
astunparse==1.6.3
attrs==25.4.0
beautifulsoup4==4.14.3
blinker==1.9.0
branca==0.8.2
cachetools==5.5.2
category_encoders==2.8.1
certifi==2025.8.3
charset-normalizer==3.4.4
click==8.3.0
colorama==0.4.6
contourpy==1.3.3
cycler==0.12.1
entrypoints==0.4
Faker==38.2.0
fastapi==0.121.3
favicon==0.7.0
filelock==3.20.0
flatbuffers==25.9.23
folium==0.20.0
fonttools==4.60.0
fsspec==2025.10.0
gast==0.7.0
gitdb==4.0.12
GitPython==3.1.45
google-pasta==0.2.0
grpcio==1.76.0
h11==0.14.0
h5py==3.15.1
htbuilder==0.9.0
httpcore==1.0.7
httpx==0.28.1
idna==3.10
Jinja2==3.1.6
joblib==1.5.2
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
keras==3.12.0
kiwisolver==1.4.9
latex2pydata==0.5.0
latexminted==0.6.0
latexrestricted==0.6.2
libclang==18.1.1
lxml==6.0.2
Markdown==3.10
markdown-it-py==4.0.0
markdownlit==0.0.7
MarkupSafe==3.0.3
matplotlib==3.10.6
mdurl==0.1.2
ml_dtypes==0.5.4
mpmath==1.3.0
namex==0.1.0
narwhals==2.10.1
networkx==3.6
numpy==2.2.6
ollama==0.4.7
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
opt_einsum==3.4.0
optree==0.18.0
packaging==24.2
pandas==2.3.3
patsy==1.0.1
pillow==10.4.0
plotly==6.5.0
prometheus_client==0.23.1
protobuf==5.29.5
pyarrow==21.0.0
pyasn1==0.6.1
pycryptodome==3.23.0
pydantic==2.10.6
pydantic_core==2.27.2
pydeck==0.9.1
Pygments==2.19.2
pymdown-extensions==10.17.2
pyparsing==3.2.5
python-dateutil==2.9.0.post0
python-decouple==3.8
python-docx==1.2.0
python-multipart==0.0.20
pytube @ git+https://github.com/pytube/pytube@a32fff39058a6f7e5e59ecd06a7467b71197ce35
pytz==2025.2
PyYAML==6.0.3
referencing==0.37.0
requests==2.32.5
rich==13.9.4
rpds-py==0.28.0
rsa==4.9.1
scikit-learn==1.7.2
scipy==1.16.2
seaborn==0.13.2
setuptools==80.9.0
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
soupsieve==2.8
st-annotated-text==4.0.2
st-theme==1.2.3
starlette==0.50.0
statsmodels==0.14.5
streamlit==1.36.0
streamlit-aggrid==1.2.1
streamlit-avatar==0.1.3
streamlit-camera-input-live==0.2.0
streamlit-card==1.0.2
streamlit-embedcode==0.1.2
streamlit-extras==0.6.0
streamlit-folium==0.25.3
streamlit-image-coordinates==0.1.9
streamlit-keyup==0.3.0
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==2.5.5
streamlit_faker==0.0.4
sympy==1.14.0
tenacity==8.5.0
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorflow==2.20.0
termcolor==3.2.0
threadpoolctl==3.6.0
toml==0.10.2
torch==2.9.1
torchvision==0.24.1
tornado==6.5.2
typing_extensions==4.12.2
tzdata==2025.2
urllib3==2.5.0
uvicorn==0.38.0
validators==0.35.0
watchdog==4.0.2
websockets==15.0.1
Werkzeug==3.1.4
wheel==0.45.1
wrapt==2.0.1
xyzservices==2025.11.0
yt-dlp==2025.10.14
